.paragraph--type--my-business-workshops {
  position: relative;
  .paragraph--type--my-business-workshops {
    &--bg {
      .field--name-field {
        &-mbw-bg-imagen {
          position: relative;
          &::before {
            @include pseudo();
            background: linear-gradient(90deg, transparent, #000000 40%);
            width: 80%;
            height: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
          }
          img {
            width: 100%;
            height: 90rem;
            object-fit: cover;
            object-position: top;
            @include from(l) {
              height: 85rem;
            }
          }
        }
      }
    }
    &--content {
      position: absolute;
      padding: 0;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      display: flex;
      top: 0;
      @include from(l) {
        height: 100%;
        right: 0;
        width: 55%;
        padding: 0 5% 0 0;
        align-items: flex-start;
      }
      @include from(xlg) {
        padding: 0 0 0 3.5%;
      }
      .field--name-field {
        &-mbw-body {
          color: $goldlabel;
          font-family: $RobotoB;
          font-size: 2.2rem;
          margin: 1rem auto 3rem;
          width: 80%;
          z-index: 1;
          @include from(l) {
            font-size: 3.8rem;
            margin: initial;
            max-width: 52rem;
            width: 100%;
            top: 10rem;
            left: 9%;
            right: 0;
          }
         /*  @include from(xlg) {
            left: initial;
            right: 0;
            margin: auto;
            max-width: 130rem;
          } */
          h2 {
            position: relative;
            margin: 0 0 3rem;
            &::after {
              content: "";
              display: block;
              position: absolute;
              background-color: #d5af43;
              height: 0.2rem;
              width: 80%;
              bottom: -0.8rem;
            }
          }
          p {
            font-family: $RobotoR;
            font-size: 1.6rem;
            line-height: 1.6;
            color: $white;
          }
        }
        &-mbw-content {
          width: 100%;
          max-width: 46rem;
          .paragraph--type--group-objectives {
            width: 100%;
          }
          .paragraph--type--item-objectives- {
            display: flex;
            margin-bottom: 2rem;
            width: 100%;
            .field--name-field-io-text {
              color: $white;
              font-size: 1.6rem;
              font-family: $RobotoB;
              width: 100%;
              padding-left: 2rem;
              @include from(l) {
                font-size: 2.3rem;
              }
            }
          }
          .flickity-button {
            bottom: -10rem;
            right: 0;
            @include from(l) {
              bottom: -13rem;
            }
            &.previous {
              left: 0;
            }
          }
        }
      }
    }
  }
}
