.specialties {
  margin: 0;
  padding: 0;
  position: relative;
  .row > * {
    margin: 0;
    padding: 0;
  }
  &--vista {
    width: 100%;
    @include from (lm) {
      padding: 0 10%;  
    }
    @include from (xlg) {
      padding: 0;
      max-width: 132rem;
    }
  }
  &--title {
    width: 100%;
    padding: 0 10%;
    position: relative;
    @include from (xlg) {
      padding: 0;
      max-width: 132rem;
    }
    h3 {
      color: $white;
      display: block;
      font-family: $RobotoM;
      font-size: 3.5rem;
      line-height: 1.2;
      margin: 0 0 7rem;
      width: 100%;
      @include from (l) {
        width: 40rem;
        font-size: 3.8rem;
      }
    }
  }
  &--imagen {
    img {
      width: 100%;
      height: 90rem;
      object-fit: cover;
      @include from (l) {
        height: 80rem;
      }
    }
  }
  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    &::before {
      @include pseudo();
      background-color: black;
      height: 100%;
      width: 100%;
      opacity: 1;
      @include from (m) {
        opacity: 0;
      }
      @include from (l) {
        opacity: .5;
      }
    }
    @include from (m) {
      left: 0;
      right: 0;
      margin: auto;
      width: 60%;
    }
    @include from (l) {
      left: initial;
      right: initial;
      margin: initial;
      width: 100%;
    }
  }
  &--info {
    color: $white;
    font-family: $RobotoB;
    font-size: 4rem;
    position: absolute;
    top: 8%;
    right: 0;
    opacity: .1;
    width: 100%;
    text-align: right;
    @include from (l) {
      top: 7%;
      font-size: 12rem;  
    }
  }
}