picture {
  img {
    width: 100%;
  }
}
.node {
  .field--type-image {
    margin: 0;
    float: initial;
  }
}
.field--type-entity-reference{
  margin: 0;
}
.site-footer__bottom{
  margin: 0;
}
.site-footer__bottom .region {
  margin: 0;
}
.site-footer__bottom .block {
  margin: 0;
}